<div class="nav-setting">
  <div class="ui buttons">
    <div class="ui floating dropdown button">
      <i class="icon bars"></i>
      <div class="menu">
        <% if (user) { %>
        <a class="item" href="/signout">sign out</a>
        <% } else { %>
        <a class="item" href="/signin">sign in</a>
        <a class="item" href="/signup">sign up</a>
        <% } %>
      </div>
    </div>
  </div>
</div>

<div class="nav-trans">
  <% if (user) { %>
    <div class="nav-tran">
      <a class="nav-tran-text" href="/posts?author=<%= user._id %>">homepage</a>
    </div>
    <br>
    <div class="nav-tran">
      <a class="nav-tran-text" href="/posts/create">Post article</a>
    </div>
    <% }%>
</div>


