<div class="nav">
  <div class="ui grid">
    <div class="four wide column"></div>

    <div class="eight wide column">
      <a href="/posts"><h1><img src="../img/title.png" height="100" weight="200" alt="Blog" /></h1></a>

    </div>
  </div>
</div>
